cmake-build-debug/
build/
Build/
BUILD/
bUILD/
Datasets/
.sconsign.dblite
lib/
.csv
.idea/
.vscode/
**/myeasylog.log
dist
src/tests/fastod/__pycache__
src/tests/fastod/results
src/tests/fastod/results_mem
src/tests/fastod/myeasylog.log
